body{
    background-color:rgb(30, 30, 30);
    font-family: Gotham;
}

.form_container{
    text-align: center;
}

div{
    color: white;
}

h2{
    margin-top: 4rem;
}

div{
    margin: 2rem 0;
}

.dice{
    height: 90px;
    width: 90px;
}

#dice_game{
    display: none;
}